body{
    background-color:rgb(224, 222, 222);
    /*text-align: center;
    justify-content: center;*/
}
.container{
border: 2px solid rgb(221, 222, 222);
height: 250px;
width: 250px;
margin-left: 40%;
margin-top: 10%;
text-align: center;
border-radius: 9%;
justify-content: center;
background-color: white;

box-shadow: 0px 4px 4px rgb(0,0,0,0.1);
}
.image{
    border-radius: 50%;
    height: 75px;
    width: 75px;
    margin-top:25px ;
    border: 3px solid rgb(59, 126, 242);
    object-fit:cover;
}
.navbar{
    height: 75px;
    width:100%;
    background-color: rgb(59, 126, 242);
    border-top-left-radius: 20px;
    border-top-right-radius:20px ;
    
}
.linkedIn{
    height: 15px;
    width: 15px;   
}
.github{
    height: 15px;
    width: 15px;   
}
.msg{
    height: 15px;
    width: 15px;   
}
.content{
    margin-top: 15px;
}
.btn{
    border-radius: 20px;
    background-color: rgb(59, 126, 242) ;
    color: white;
    margin: 14px 0px 2px;
    border: 1px solid white;
    padding: 6px 24px;

}
.txt1{
    margin: 29px 0px 9px;
}
.txt2{
    margin-top: 9px;
}