.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 80px 250px;
    gap: 20px;

    border: 3px solid black;
    height: 450px;
    width: 750px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 30px;
}


.box1 {
    grid-column: 1 / 3;
    border: 2px solid black;
    border-radius: 30px;
}


.left_box {
    border: 2px solid black;
    border-radius: 20px;
    position: relative;
}


.right_box {
    border: 2px solid black;
    border-radius: 20px;
    height: 60%;
}
.right_cercle{
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 2px solid black;
    border-radius: 50%;
    margin: 3px 0px 0px 290px;
}
.right_box1 {
    border: 2px solid black;
    border-radius: 8px;
    margin: 160px 2px 2px 20px;
    width: 130px;
    height: 50px;
}

.right_box2 {
    border: 2px solid black;
    border-radius: 8px;
    margin: 0px 0px 2px 140px;
    width: 130px;
    height: 50px;
}
.cercle_right{
    display: inline-block;
    height: 10px;
    width: 10px;
    border: 2px solid black;
    border-radius: 50%;
    margin: 0px 0px 0px 5px;
}

.bottom_box1 {
    border: 2px solid black;
    border-radius: 8px;
    margin: 0px 0px 2px 30px;
    width: 200px;
    height: 70px;
}

.bottom_box2 {
    border: 2px solid black;
    border-radius: 8px;
    margin: 0px 0px 2px 260px;
    width: 200px;
    height: 70px;
}

.bottom_box3 {
    border: 2px solid black;
    border-radius: 8px;
   
    margin: 0px 0px 2px 120px;
    width: 200px;
    height: 70px;
}

.arrow {
    position: absolute;
    bottom: 10px;
    left: 40%;
    font-size: 20px;
}


.cercle1 {
    display: inline-block;
    height: 10px;
    width: 10px;
    border: 2px solid black;
    border-radius: 50%;
    margin: 0px 0px 0px 5px;
}

.cercle2 {
    display: inline-block;
    height: 10px;
    width: 10px;
    border: 2px solid black;
    border-radius: 50%;
    margin: 0px 0px 0px 5px;
}

.cercle3 {
    display: inline-block;
    height: 10px;
    width: 10px;
    border: 2px solid black;
    border-radius: 50%;
    margin: 0px 0px 0px 5px;
}