.navbar {
    display: flex;
    /* height: 200px;
    width: 100%;*/
    align-items: center;
    justify-content: space-between;
    background-color: white;
    box-sizing: border-box;
    border-bottom: 1px solid #e5e5e5;

}

img {
    height: 90px;
    padding: 2px 2px;
    margin-left: 0%;
}

.select {
    border: none;
    padding: 5px 5px;
}

.signIn {
    border: none;
    background-color: white;
    padding: 8px 5px;
}

.contact {
    border-radius: 20px;
    border-color: rgb(163, 222, 242);
    background-color: white;
    margin-left: 2px;
}

.Start_for_free {
    border-radius: 20px;
    border-color: rgb(120, 203, 231);
    background-color: rgb(42, 74, 189);
    margin-left: 5px;
    margin-right: 20PX;
    padding: 2px;
}

body {

    background-color: rgb(156, 235, 235);
    margin: 0%;

}

.info {
    margin-left: 500px;


}

#symbole {
    margin-left: 100px;
}

.search_input {
    border-radius: 15px;
    background-color: azure;
    padding: 8px;
    margin: 4px 0px 3px 20px;
    height: 120px;
    width: 550px;
    border: 1px solid whitesmoke;

}

.search_input input {
    border: none;
    margin: 6px 0px 5px 0px;
    width: 100%;
    height: 50px;

}

.search_input button {
    border-radius: 19px;
    border-color: aliceblue;
    background-color: rgb(224, 219, 219);
    border:1px solid whitesmoke;
    margin: 10px opx 2px 1px;
}

.Learn_more {
    margin: 9px 0px 0px 150px;
    border-radius: 50px;
    background-color: rgb(67, 153, 207);
    border: 2px solid rgb(143, 190, 240);
    padding: 4px 8px;

}

#txt1 {
    color: gray;
    margin: 50px 0px 7px 210px;
}

#txt2 {
    margin: 10px 0px 2px 90px;
}

#txt3 {
    color: rgb(43, 113, 175);
    margin: 2px 0px 0px 10px;
}

#txt4 {
    margin: 29px 0px 10px 140px;
}

#txt5 {
    margin: 20px 0px 7px 200px;
}
.btn_Extend{
    margin: 20px 0px 12px 160px;
    
}
#file{
    height: 20px;
    width: 40px;
    margin-bottom: 2px;
}
.voice{
    height: 20px;
    width: 40px;
    margin-bottom: 2px;
}